<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>展示</title>
</head>
<body>
<table border="1px" align="center" style="width: 300px">
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>age</th>
        <th>sex</th>
    </tr>

    <tr th:each="user: ${list}">
       <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.sex}"></td>
    </tr>

</table>


</body>
</html>
